.idea/
.vscode/
.github/
coverage/
.vitest/
docs/
scripts/
test/
**/*.spec.ts
vitest.config.ts
typedoc.json
tsconfig*.json
*.tsbuildinfo
.gitattributes
knip.config.ts
oxlint.config.ts
commitlint.config.ts
